html 
  head  
    title Add car 
  body 
    form(action="/addCar", method="post") 
      input(type="text", name="brand", placeholder="Skriv mærke")
      input(type="text", name="model", placeholder="Skriv model")
      button(type="submit", value="Opret bil") 🚙 Opret Bil